body {
	background-color: rgb(20,20,20);
	font-family: 'Montserrat', sans-serif;
	color: rgb(240, 190, 0);
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	color: rgb(240,190,0);
}

#title {
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
	font-size: 60px;
}

#inline {
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;

}

#inline>li {
	display: inline;
	padding-right: 15px;

}

#contacts {
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;
	list-style-position: inside;

}

#pfp {
	float: left;
	
}

.pfp {
	margin-left: 20px;
	float: left;
}



.sections {
	margin-left: 35px;
	margin-top: 35px;
	margin-bottom: 35px;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(40,40,40);
	border-radius: 35px;
	padding: 15px;
	
}

#profile {
	float: left;
	max-width: 50%;
	max-height: 20%;
}

#education {
	max-width: 25%;
	float: left;
}

#education>h3 {
	display: inline;
}

#relevantexp {
	margin-top: 25%;
	margin-left: 20%;
	margin-right: 20%;
}

#aboutme {

}

#contactme {
}



#edutable {
	text-align: center;
}

td {
	padding: 20px;
}
li {
	line-height: 25px;
	padding-bottom: 30px;
}
